verify-deps-before-run=false
manage-package-manager-versions=false
ignore-dep-scripts=false
dangerouslyAllowAllBuilds=true
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=@tailwindcss/oxide
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=sharp
